/* Small devices (landscape phones, 576px and up) */
@media (max-width: 430px) {
    .patient-create-form{
        flex-direction: column;
    }
    .patient-create-form input{
        margin: 10px 0;
    }
}
@media (min-width: 576px) {
    .select-patient{
        width: 500px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

}
