
.doctors{
    background: linear-gradient(to bottom, rgba(28, 161, 214, 0.1) 0%, rgba(28, 161, 214, 0.7) 100%) no-repeat;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.select-patient {
    flex-direction: column;
    border: 2px solid rgba(24, 150, 196, 0.8);
    border-radius: 5px;
    margin: 10px;
    width: calc(100% - 20px);
    background-color: rgba(28, 214, 189, 0.2);
    justify-content: flex-start;
    align-items: center;

}

.add-patient {
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(17, 168, 110, 0.8);
}

.add-patient-title {
    font-weight: 600;
    font-size: 25px;
}

.add-patient-title a {
    color: #268c82;
    transition: color .3s;
}

.add-patient-title a:hover {
    color: rgb(28, 161, 214);
}

.patient-list {
    width: 100%;
    padding: 10px;

}
.patient-list li {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    padding: 30px 0;
}

.patient-list li a {
    color: #1d6142;
    transition: color .3s;
}

.patient-list li a:hover {
    color: #052636;
}
.create-patient-title{
    color: #1d6142;
}
.patient-delete{
    margin-right: 10px;
}
.patient-delete i:hover{
    color: rgba(224, 42, 18, 1);
}
.patient-delete i{
    color: rgba(224, 42, 18, 0.8);
    transition: .2s;
}
.patient-update{
    margin-right: 10px;
}
.patient-update i:hover{
    color: rgba(191, 104, 11, 1);
}
.patient-update i{
    color: rgba(191, 104, 11, 0.8);
    transition: .2s;
}
.patient-create-form{
    width: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.patient-create-form input{
    margin: 0 10px;
    padding: 10px 20px;
    outline: 0;
    border: 2px solid rgb(24, 150, 196);
    background-color: rgba(28, 161, 214, 0.1);
    border-radius: 5px;
}
.patient-create-form label{
    color: #052636;
    font-size: 20px;
    margin-top: 10px;
}
.patient-create-form button{
    padding: 11px 20px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: #268c82;
    font-size: 16px;
    transition: background-color .3s;
    margin-top: 20px;
}
.patient-create-form button:hover{
    background-color: rgb(24, 150, 196);
}
.form-errors{
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}
.dr-more-info{
    flex-direction: column;
    width: 80%;
    margin: 20px 0;
}
.dr-info-item{
    padding: 15px 0;

}
.dr-info-item p {
    margin-right: 10px;
}
.dr-info-item h3{
    color: #1d6142;
}