/* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
    .user-action {
        width: 70%;
        justify-content: flex-end;
    }

}

@media (min-width: 576px) {
    .user-action {
        width: 15%;

    }

    .select-patient {
        width: 500px!important;
    }

}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .toggle-burger-menu {
        display: none;
    }

    .md-lg-header-nav {
        display: block;
    }

    .sm-header-nav {
        display: none !important;
    }
    .doctors{
        align-items: center!important;
    }
    .visits-container{
        width: 750px!important;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

}
