{% extends 'sc_patient_base.html' %}
{% block page_title %}
    افزودن بیمار
{% endblock %}
{% block content %}

    <section class="select-patient d-flex">
        <div class="add-patient d-flex">
            <h3 class="add-patient-title create-patient-title">
                اضافه کردن بیمار
            </h3>
        </div>
        <form action="" method="post" class="patient-create-form d-flex">
            {% csrf_token %}
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {{ form.name }}
            <button type="submit">افزودن</button>
        </form>
        <div class="form-errors">
            {% for error in form.name.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
    </section>

{% endblock %}