{% extends 'patient_base.html' %}
{% load static %}
{% block page_title %}
    ویرایش کردن آزمایش
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/manage_patient/visits.css' %}">
{% endblock %}
{% block content %}
    <section class="all-main d-flex">
    <section class="visits-container d-flex">
        <h3 class="title">ویرایش کردن آزمایش</h3>
        <form action="" method="post" class="add-visit-form d-flex" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="{{ form.test_date.id_for_label }}">{{ form.test_date.label }}</label>
            {{ form.test_date }}
            <label for="{{ form.file.id_for_label }}">{{ form.file.label }}</label>
            {{ form.file }}
            <button type="submit">ویرایش کردن</button>
        </form>
    </section>
    </section>

{% endblock %}